name: Push content

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'modules/**'
      - 'antora.yml'
      - '.github/workflows/push-content.yml'

jobs:
  triggerJob:
    uses: bonitasoft/bonita-documentation-site/.github/workflows/_reusable_notify_content_change.yml@master
    secrets: inherit
    with:
        component: 'cloud'
